.idea
log
nohup.out
.DS_Store
*.csv
oscs
oscs.exe
/murphysec-saas-darwin-amd64
/logs/

config/config.dev.yml
/tmp/
/murphysec-darwin-amd64
/murphysec-linux-amd64
/static/ck.txt

murphy_oscs
/cmd/tmp/models/*
/.fleet/
/检测结果.json
/github基本信息.json
*.tmp
/static/fix_vuln_project/

/fix/fix_test.go
fix/fix_test.go

./fix_test.go
fix_test.go
/fix_test.go
